.instrument-dropdown .dropdown-menu {
    padding: 0;
}

.instrument-dropdown {
    position: relative
}

.instrument-dropdown ul {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.instrument-dropdown ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    color: #6f6f6f;
    text-shadow: none;
    text-align: right;
    padding: 5px 0;
    border-bottom: 1px solid #bfbbbb;
}

.instrument-dropdown ul li.instrument-header {
    cursor: default;
    text-align: right;
    border-bottom: 1px solid #968383;
    padding-bottom: 9px 0;
    font-size: 12px;
}

.instrument-dropdown ul li.instrument-header div:first-of-type {
    text-align: left;
}

.instrument-dropdown ul li .instrument-row--detail {
    display: flex;
    font-size: 12px;
}

.instrument-header div {
    max-width: 90px;
    min-width: 90px;
}

.instrument-row--detail div {
    max-width: 90px;
    min-width: 90px;
}

.instrument-row__detail-price {
    color: #585757;
}

.instrument-row__detail-price:after {
    content: attr(data-value);
}

.instrument-row__detail-price[data-value^="-"]:after {
    color: #c53030;
}

.instrument-row__detail-change {
    color: #928e8e;
}

.instrument-row__detail-change:after {
    content: attr(data-value);
}

.instrument-row__detail-change[data-value^="-"]:after {
    color: #c53030;
}

.instrument-row__detail-volume {
    color: #920606;
}

.instrument-row__detail-volume:after {
    content: attr(data-value) ' %';
}

.instrument-row__detail-volume[data-value^="-"]:after {
    color: #c53030;
}

.instrument-symbol {
    padding-right: 3px;
    min-width: 85px;
    text-align: left;
    font-size: 13px;
}

.instrument-dropdown .dropdown-menu>li>a:hover,
.instrument-dropdown .dropdown-menu>li>a:focus {
    background: transparent !important;
}

.instrument-dropdown li a {
    padding: 0;
}

.instrument-dropdown li:hover:not(:first-of-type) {
    background: #f5f5f5;
}

.ticker-wrapper {
    display: flex;
    justify-content: flex-start
}

.ticker-wrapper div {
    margin-right: 7%
}

.ticker-wrapper div:last-child {
    margin-right: 0
}

.day-stat,
.last-price {
    font-size: 12px
}

.last-price {
    color: #c8c8c8
}

.last-price span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #0F60B1;
    line-height: 1em
}

.last-price span span {
    color: #e91e63;
    font-size: 1.0em
}

.day-stat {
    color: #9b9b9b
}

.instrument-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle{
    padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;border-radius:4px; border-color:#2e6da4; color: #fff; background-image: linear-gradient(to right,#00b07f 0%,#005eb2 100%) !important;
}

.dropdown-menu {
    margin:0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li { color: black; text-decoration: none; display: block;}
.dropdown-menu li:hover {background-color: #ddd;}
.instrument-dropdown:hover .dropdown-menu {display: block;}
.instrument-dropdown:hover .dropbtn {background-color: #3e8e41;}


.ticker-wrapper div{ margin-right: 4% !important; width: 130px; font-size: 12.5px; font-weight: bold; color: #000; letter-spacing: 1px;}
.ticker-wrapper div span{ font-weight: 100; }
.day-stat span{ display: block;  }